.container_footer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0%;
    justify-content: space-evenly;
    background-color: rgb(212, 212, 212);
}

.bloc_footer {
    display: block;
    margin: 7px;
}

.text-center {
    display: flex;
    flex-direction: column;
}