/* Styles communs */
.container_header,
.container_header_prof,
.container_header_admin {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(212, 212, 212);
}

.nav {
    padding: .5rem 0.5rem;
}

/* Styles spécifiques admin */
.logo_header_admin {
    width: 50px;
    height: 50px;
    margin: 0 0 0 30px;
} 

h2 {
    margin: 0 50px 0 10px;
}