/* style.css */

/* Style pour le corps de la page */
body {
    background-color: #f8f9fa; /* Couleur de fond légère */
}

/* Style pour le header */
header {
    background-color: #343a40; /* Couleur sombre */
    color: white; /* Couleur du texte */
    padding: 5px 0; /* Espacement */
    /* text-align: center; Centrer le texte */
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image .h2_logo {
    margin: 8px;
}

/* Style pour l'image */
.logo {
    width: 50px;  /* Définit une largeur de 200 pixels */
    height: 50px;  /* La hauteur s'ajuste automatiquement pour conserver les proportions */
    border: 2px solid #000; /* Optionnel : ajoute une bordure noire de 2 pixels */
    border-radius: 10px; /* Optionnel : arrondir les coins de l'image */
    margin-right: 20px;
}

/* Style pour le titre */


/* Style pour le formulaire */
form {
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 50px auto; /* Centrer le formulaire */
    padding: 20px; /* Espacement intérieur */
    border: 1px solid #ced4da; /* Bordure grise */
    border-radius: 0.25rem; /* Bords arrondis */
    background-color: white; /* Couleur de fond du formulaire */
}

/* Style pour les labels */
label {
    font-weight: bold; /* Mettre les labels en gras */
}

/* Style pour les boutons */
button {
    width: 100%; /* Les boutons prennent toute la largeur */
    margin-top: 10px; /* Espacement entre les boutons */
}
