.titre_utilisateurs {
    text-align: center;
    margin: 40px 0;
}

.page_utilisateurs {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à une nouvelle ligne */
    margin: 80px 20px;
    gap: 25px 10px; /* Espacement entre les blocs */
    justify-content: center; /* Centrage des blocs */
    align-items: flex-start; 
}

.blocs_utilisateurs {
    background-color: #2e31cc;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    flex: 0 1 calc(100% - 100px); /* Chaque bloc occupe environ 100% de la ligne */
    box-sizing: border-box; /* Inclure les marges dans la taille */
    width: 268.41px;
}

.blocs_utilisateurs summary {
    list-style: none;
    font-weight: bold;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.58px;
}